body {
    width: 800px;
    margin: auto;
}

/*div {    
    margin: auto;
}*/

fieldset {
    text-align: center;
    font-size: 30px;
}

#row {
    width: 800px;
    margin: auto;
    margin-left: 175px;
}

input {
    width: 50px;
    height: 50px;
}

#reset {
    width: 50px;
    height: 50px;
    margin-left: 425px;
    margin-top: -50px;
    font-size: 25px;
}

#pendu {
    padding-top: 40px;
    padding-left: 175px;
    padding-bottom: 40px;
}

#well {
    margin-left: 175px;
    width: 450px;
}